#hero{
   background-image: url('pizzeria-nona.webp');
   background-repeat: no-repeat;
}
.row:after {
   content: "";
   display: table;
   clear: both;
}
.column4 {
   float: left;
   width: 25%;
}
#column4{
   margin-top: 30px;
   padding: 25 25 25 25;
}
